* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

.contanar {
    padding: 0px 120px;
}

/* NAVBAR SECTION HERE  */

.nabbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.logo>h3 {
    color: #19CE67;
    font-size: 30px;
    padding: 5px 0px;
}

.manu>ul {
    display: flex;
    gap: 30px;
    margin-right: 300px;
}

.manu>ul>li>a {
    color: #19CE67;
    text-decoration: none;
    transition: .5s;

}

.manu>ul>li>a:hover {
    color: black;
}

.manu b {
    color: black;
}

.manu b:hover {
    color: #19CE67;
}

.manuBar {
    display: none;
}

/* NAVBAR SECTION CLOSE  */

/* DISPLAY SECTION HERE */
.display {
    display: flex;
    height: 93vh;
    width: 100%;
    background: url("../display/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.display-text {
    width: 50%;
}

.display-text h1 {
    font-size: 40px;
    color: #19CE67;
}

.display-text p {
    padding: 10px 0px;
}

.news-btn {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
}

.news-btn:hover {
    background-color: #19CE67;
}

.get-btn {
    padding: 8px 20px;
    background-color: #19CE67;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
}

.get-btn:hover {
    background-color: black;
}

.display-image {
    width: 50%;

}

.display-image img {
    height: 93vh;
    margin-left: 100px;

}

/* DISPLAY SECTION CLOSE */

/* PRODUCTS SECTION HERE */
.product {
    background: url("../display/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}

.product-head {
    text-align: center;
}

.product-head>h1 {
    padding-top: 30px;
    font-size: 35px;
    color: #19CE67;
}

.product-head>p {
    padding: 10px 0px 30px 0px;
}

.product-contanar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.product-box {
    text-align: center;
    height: 400px;
    width: 310px;
    background-color: #f8F8F8;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    position: relative;
}


.product-box>img {
    height: 200px;
    padding-top: 10px;
    border-radius: 20px;
}

.product-box>h3 {
    color: #19CE67;
    padding-bottom: 10px;
}

.product-box p {
    padding: 0px 2px;
}

.product-box>h4 {
    padding: 10px 0px;
}

.fa-solid {
    color: #FFC107;
}

.button {
    height: 40px;
    width: 100%;
    background-color: #19CE67;
    color: white;
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0px;
}

.button:hover {
    background-color: black;
    color: #19CE67;
}

.btn {
    margin: 30px 0px;
    padding: 12px 50px;
    background-color: #19CE67;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: black;
}

/* PRODUCTS SECTION CLOSE */

/* TEAM SECTION HERE  */

.team {
    background: url("../display/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.team-head {
    text-align: center;
}

.team-head h1 {
    color: #19CE67;
    font-size: 35px;
    padding: 20px 0px 10px 0px;
}

.team-head>p {
    padding-bottom: 30px;
}

.doctor-contant {
    display: flex;
    gap: 20px;
    text-align: center;
}

.doctor-box {
    height: 370px;
    width: 310px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    background-color: #f8F8F8;
    cursor: pointer;
}

.doctor-box:hover {
    background-color: black;
    color: #19CE67;
    box-shadow: 0px 0px 5px #19CE67;
}

.doctor-box img {
    height: 300px;
    width: 310px;
    border-radius: 10px;
}

.text h4 {
    padding: 10px 0px 5px 0px;
    color: #19CE67;
}

/* TEAM SECTION CLOSE  */

/* NEWS SECTION HERE */
.news-Area {
    background: url("../display/bg2.jpg");
    text-align: center;
    padding-bottom: 60px;
}

.news-head h1 {
    font-size: 35px;
    color: #19CE67;
    padding-top: 40px;
}

.news-head p {
    padding-bottom: 20px;
}

.news-contant {
    display: flex;
    align-items: center;
    gap: 20px;
}

.newsbox {
    height: 450px;
    text-align: left;
    box-shadow: 0px 0px 8px black;
    border-radius: 10px;
    background-color: #f8F8F8;
    cursor: pointer;
}

.newsbox:hover {
    background-color: black;
    box-shadow: 0px 0px 8px #19CE67;
    color: #19CE67;
}

.newsbox>img {
    height: 252px;
    width: 420px;
    border-radius: 10px;
}

.news-text {
    padding: 15px;
}

.fa-regular {
    color: #19CE67;
    padding-bottom: 10px;
}

.news-text label {
    padding-bottom: 10px;
}

.news-text h4 {
    color: #19CE67;
    font-size: 20px;
    padding-bottom: 15px;
}

.news-text>p {
    padding: bottom 20px;
    ;
}

.news-text a {
    color: #19CE67;

}

/* NEWS SECTION CLOSE */

/* FOOTER AREA HERE */
.footer-area {
    background-color: black;
}

.footer-one {
    display: flex;
    gap: 30px;
    color: #FFFFFF;
    align-items: center;
}

.about {
    width: 33%;
    padding: 10px 0px 20px 0px;
}

.about>h2 {
    padding-bottom: 10px;
}

.secound-about {
    width: 33%;
}

.secound-about>p {
    padding-bottom: 8px;
}

.thrd-about {
    width: 33%;
}

.thrd-about>p {
    padding-bottom: 8px;
}

.footer-area>p {
    text-align: center;
    color: #FFFFFF;
    padding: 8px 0px;
}

.footer-area span {
    color: #19CE67;
}



/* FOOTER AREA CLOSE */





















/* MOBIL SCREEN RESPONSIVE */

@media only screen and (max-width:412px) {
    .contanar {
        padding: 0px 20px 0px 20px;
    }

    /* NAVBAR SECTION HERE  */

    .logo>h3 {
        color: #19CE67;
        font-size: 20px;
    }

    .manu>ul {
        display: none;
        gap: 30px;
    }

    .manuBar {
        color: #19CE67;
        display: flex;
        align-items: center;
    }

    /* NAVBAR SECTION CLOSE  */

    /* DISPLAY SECTION HERE */
    .display {
        height: 80vh;
        width: 100%;
        background: url("../display/banner-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* DISPLAY SECTION CLOSE */

    .display {
        display: block;
        height: 60vh;
        width: 100%;
        background: url("../display/banner-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }

    .display-text {
        width: 100%;
        padding-top: 50px;
    }

    .display-text h1 {
        font-size: 30px;
        color: #19CE67;
    }

    .display-text p {
        padding: 10px 0px;
    }

    .news-btn {
        padding: 8px 15px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 10px 10px 0px 0px;
    }

    .news-btn:hover {
        background-color: #19CE67;
    }

    .get-btn {
        padding: 8px 15px;
        background-color: #19CE67;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 10px 10px 0px 0px;
    }

    .get-btn:hover {
        background-color: black;
    }

    .display-image {
        display: none;

    }

    /* DISPLAY SECTION CLOSE */

    /* PRODUCTS SECTION HERE */
    .product {
        margin: 0 auto;
        text-align: center;
    }

    .product-head {
        text-align: center;
    }

    .product-head>h1 {
        padding-top: 30px;
        font-size: 25px;
        color: #19CE67;
    }

    .product-head>p {
        padding: 10px 0px 30px 0px;
    }

    .product-contanar {
        display: block;

    }

    .product-box {
        text-align: center;
        height: 400px;
        width: 100%;
        background-color: #f8F8F8;
        box-shadow: 0px 0px 5px black;
        border-radius: 10px;
        position: relative;
        margin: 0px 0px 30px 0px;
    }

    .product-box>img {
        height: 200px;
        padding-top: 10px;
    }

    .product-box>h3 {
        color: #19CE67;
        padding-bottom: 10px;
    }

    .product-box>h4 {
        padding: 10px 0px;
    }

    .fa-solid {
        color: #FFC107;
    }



    .button {
        height: 40px;
        width: 100%;
        background-color: #19CE67;
        color: white;
        padding: 12px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: 0px;
    }

    .btn {
        margin: 30px 0px;
        padding: 12px 50px;
        background-color: #19CE67;
        color: white;
        border: none;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: black;
    }

    /* PRODUCTS SECTION CLOSE */

    /* TEAM SECTION HERE  */
    .team {
        background: url("../display/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 30px;
    }

    .team-head {
        text-align: center;
    }

    .team-head h1 {
        color: #19CE67;
        font-size: 35px;
        padding: 20px 0px 10px 0px;
    }

    .team-head>p {
        padding-bottom: 30px;
    }

    .doctor-contant {
        display: block;
    }

    .doctor-box {
        height: 370px;
        width: 100%;
        margin: 30px 0px;
        box-shadow: 0px 0px 5px black;
        border-radius: 10px;
        background-color: #f8F8F8;
    }

    .doctor-box:hover {
        background-color: black;
        color: #19CE67;
        box-shadow: 0px 0px 5px #19CE67;
    }

    .doctor-box img {
        height: 300px;
        width: 100%;
        border-radius: 10px;
    }

    .text h4 {
        padding: 10px 0px 5px 0px;
        color: #19CE67;
    }

    /* TEAM SECTION CLOSE  */

    /* NEWS SECTION HERE */
    .news-Area {
        background: url("../display/bg2.jpg");
        text-align: center;
        padding-bottom: 5px;
    }

    .news-head h1 {
        font-size: 35px;
        color: #19CE67;
        padding-top: 40px;
    }

    .news-head p {
        padding-bottom: 20px;
    }

    .news-contant {
        display: block;
    }

    .newsbox {
        height: 450px;
        text-align: left;
        box-shadow: 0px 0px 8px black;
        border-radius: 10px;
        margin-bottom: 30px;
        background-color: #f8F8F8;
    }

    .newsbox:hover {
        background-color: black;
        box-shadow: 0px 0px 8px #19CE67;
        color: #19CE67;
    }


    .newsbox>img {
        height: 252px;
        width: 100%;
        border-radius: 10px;
    }

    .news-text {
        padding: 15px;
    }

    .fa-regular {
        color: #19CE67;
        padding-bottom: 10px;
    }

    .news-text label {
        padding-bottom: 10px;
    }

    .news-text h4 {
        color: #19CE67;
        font-size: 20px;
        padding-bottom: 15px;
    }

    .news-text>p {
        padding: bottom 20px;
        ;
    }

    .news-text a {
        color: #19CE67;

    }

    /* NEWS SECTION CLOSE */

    /* FOOTER AREA HERE */
    .footer-area {
        background-color: black;
    }

    .footer-one {
        display: block;
        color: #FFFFFF;
        text-align: center;
    }

    .about {
        width: 100%;
        padding-bottom: 30px;
    }

    .about>h2 {
        padding-bottom: 10px;
    }

    .secound-about {
        width: 100%;
        padding-bottom: 30px;
    }

    .secound-about>p {
        padding-bottom: 8px;
    }

    .thrd-about {
        width: 100%;
        padding-bottom: 10px;
    }

    .thrd-about>p {
        padding-bottom: 8px;
    }

    .footer-area>p {
        text-align: center;
        color: #FFFFFF;
        padding: 8px 0px;
    }

    .footer-area span {
        color: #19CE67;
    }

    /* FOOTER AREA CLOSE */
}